.ContentImg{
    overflow: hidden;
    height: -webkit-fill-available;
    position: relative;
}


.CImg{
    content: url('../images/img-avion.png');
    background-size: cover;
    width: 100%;
    position: absolute;
    top: -50px;
 }


 .FloatForm{
     position: absolute;
     left: 20px;
     top:0px;
 }
