.ContentImg{
    overflow: hidden;
    height: -webkit-fill-available;
    position: relative;
}


.CImg{
    content: url('../images/img-avion.png');
    background-size: cover;
    width: 100%;
    position: absolute;
    top: -50px;
 }

 .boxFloating{
    position: absolute;
    left: 37px;
    top: 17%;
    width: 100%;
    
 }


 .FloatForm{
    width: 90%;
    background: #e51f04;
    border-radius: 4px;
    padding: 20px;
    display:inline-block;
    -webkit-box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.26);
    box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.26);
 }

 
.FloatForm ul{
    list-style: none;
    display: inline-flex;
    padding-left: 16px;
    margin-bottom:15px;
 }


 .FloatForm ul li{
    padding-left: 0px;
    padding-right: 25px;
    padding-bottom: 12px;
}


.FloatForm ul li:hover a, .FloatForm ul li.active a{
    color: #fff;
    border-bottom: 3px solid;
    padding-bottom: inherit
}
 
.FloatForm ul li a{
    font-weight: 600;
    color: #ff9586;
    font-size: 14pt;
    text-decoration: none;
    padding-bottom: inherit

}

 


.FloatForm li, .FloatForm label, .FloatForm a, .FloatForm h2{
    color: #fff;
    
}

li, label, a{
    font-family: Arial, Helvetica, sans-serif !important;
}


input, select{
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    background: white;
    padding: 10px;
    width: 100%;
}

h2{
    font-size: 14pt;
    margin-bottom: 23px;
}

.radio label{
    padding-left: 0px;
    padding-right: 24px; 
    
}

.radio label input{
    margin-left: 10px !important;
}

button.search{
    margin-top: 17px;
    padding: 10px;
    background: #54ff00ad;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.tabs{
    text-align: center;
}

.messageBanner{
   margin-top: 14%;
    left: 10px;
    
}


.messageBanner h3{
    font-size: 42px;
    color: #fff;
}

.messageBanner img{
    width: 44%;
}

.sectionContainer{
    margin-top: 36px;
   

}


.navbar-brand img{
    width: 90px;
    margin-top: -12px;
}


.infoLateral{
    height: 100vh;
    background:#1f1f1f;
    position: fixed;
    width: 100%;
}


.no-pad{
    padding-left: 0px;
    padding-right: 0px;
}

.boxInfo{
    padding: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    text-align: center;

}


.boxInfo label{
    font-size: 18px;
    display: block;
}


.form-horizontal .form-group{
    margin-right:0px !important;
    margin-left: 0px !important;
}

.infoLateral label, .infoLateral h2, .infoLateral a{
    display: block;
    color: #fff;
}

.sectionContainer-gral{
    padding-top:20px;
}

.texto-valores{
    text-align: right;
}




